<div class="w-100 d-flex">
    <div *ngIf="deviceType!=='MOBILE'" class="w-10 page-title-band d-flex align-items-center justify-content-start py-4">BASKET TV</div>
    <div class="w-90" [ngClass]="{'w-10':deviceType!=='MOBILE', 'w-100':deviceType==='MOBILE'}">
        <div class="w-100 h-100 app-container d-flex flex-column">

            <ng-container *ngIf="scrappingData">
                <div class="d-flex justify-content-center align-items-center w-100 p-5 loader"><i class="fa fa-spinner fa-spin me-2"></i><small>Carregant dades...</small></div>
            </ng-container>
            
            <ng-container *ngIf="!scrappingData && scrappedData">
                <ng-container *ngIf="scrappedDataNodeList && matchDaysAll.length>0">
                    <div class="w-100">
        
                        <!-- DESKTOP OR TABLET -->
                        <ng-container *ngIf="deviceType==='DESKTOP' || deviceType==='TABLET'">
                            <table class="table table-hover tableFixedHeader w-100">
                                <thead>
                                    <tr>
                                        <th class="text-start w-10">
                                            <ng-select 
                                                [items]="filterData.dates"
                                                [(ngModel)]="filter.selectedDate"
                                                (ngModelChange)="doFilterData()"
                                                placeholder="Data">
                                            </ng-select>
                                        </th>
                                        <th class="text-start">
                                            <ng-select 
                                                [items]="filterData.competitions"
                                                [(ngModel)]="filter.selectedCompetition"
                                                (ngModelChange)="doFilterData()"
                                                placeholder="Competició">
                                            </ng-select>
                                        </th>
                                        <th class="text-start">
                                            <ng-select 
                                                [items]="filterData.teams"
                                                [(ngModel)]="filter.selectedTeam"
                                                (ngModelChange)="doFilterData()"
                                                placeholder="Equip">
                                            </ng-select>
                                        </th>
                                        <th class="text-start">
                                            <ng-select 
                                                [items]="filterData.tvs"
                                                [(ngModel)]="filter.selectedTv"
                                                (ngModelChange)="doFilterData()"
                                                placeholder="TV">
                                            </ng-select>
                                        </th>
                                        <!-- <th></th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let matchDay of matchDaysFiltered">
                                        <tr>
                                            <td class="date" colspan="4"><span class="fecha">{{matchDay.date}}</span></td>
                                        </tr>
                                        <ng-container *ngIf="matchDay.matches && matchDay.matches.length>0">
                                            <ng-container *ngFor="let match of matchDay.matches">
                                                <tr>
                                                    <td class="text-start">{{match.date}}</td>
                                                    <td class="text-start">
                                                        <img *ngIf="match.flag && match.flag.length>0" class="flag me-2" [src]="match.flag" />
                                                        <span [innerHTML]="match.competition"></span><br />
                                                        <small *ngIf="match.phase">{{match.phase}}</small>
                                                    </td>
                                                    <td>
                                                        <img class="flag me-1" *ngIf="match.homeLogo && match.homeLogo.length>0" [src]="match.homeLogo">
                                                        <span class="team">{{match.homeTeam}}</span> vs. <span class="team">{{match.awayTeam}}</span>
                                                        <img class="flag ms-1" *ngIf="match.awayLogo && match.awayLogo.length>0" [src]="match.awayLogo">
                                                    </td>
                                                    <td class="text-start">
                                                        <app-pill-list [items]="match.tv"></app-pill-list>
                                                    </td>
                                                    <!--
                                                    <td class="text-center"><a [href]="match.calendarUrl" target="_blank"><i class="fa fa-calendar"></i></a></td>
                                                    -->
                                                </tr>
                                            </ng-container>                                
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </ng-container>
                        <!-- End DESKTOP OR TABLET -->
        
                        <!-- MOBILE -->
                        <ng-container *ngIf="deviceType==='MOBILE'">
                            <table class="table table-hover tableFixedHeader w-100">
                                <thead>
                                    <tr>
                                        <th class="text-start w-10">
                                            <!--
                                            <ng-select 
                                                [items]="filterData.dates"
                                                [(ngModel)]="filter.selectedDate"
                                                (ngModelChange)="doFilterData()"
                                                placeholder="Data">
                                            </ng-select>
                                            -->
                                            <ng-select 
                                                [items]="filterData.competitions"
                                                [(ngModel)]="filter.selectedCompetition"
                                                (ngModelChange)="doFilterData()"
                                                placeholder="Competició">
                                            </ng-select>
                                            <ng-select 
                                                [items]="filterData.teams"
                                                [(ngModel)]="filter.selectedTeam"
                                                (ngModelChange)="doFilterData()"
                                                placeholder="Equip">
                                            </ng-select>
                                            <ng-select 
                                                [items]="filterData.tvs"
                                                [(ngModel)]="filter.selectedTv"
                                                (ngModelChange)="doFilterData()"
                                                placeholder="TV">
                                            </ng-select>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let matchDay of matchDaysFiltered">
                                        <tr>
                                            <td class="date" colspan="5"><span class="fecha">{{matchDay}}</span></td>
                                        </tr>
                                        <ng-container *ngIf="matchDay.matches && matchDay.matches.length>0">
                                            <ng-container *ngFor="let match of matchDay.matches">
                                                <tr>
                                                    <td class="text-start">
                                                        <div class="d-flex flex-column w-100">
                                                            <div class="d-flex justify-content-between w-100">
                                                                <div class="d-flex justify-content-start align-items-center">
                                                                    <div class="matchdate">{{match.date}}</div>
                                                                    <img class="mobile_flag me-2" [src]="match.flag" *ngIf="match.flag && match.flag.length>0" />
                                                                    <div class="me-2">{{match.competition}}</div>
                                                                    <small *ngIf="match.phase">{{match.phase}}</small>
                                                                </div>
                                                                <div class="me-2" *ngIf="match.calendarUrl && match.calendarUrl.length>0"><a [href]="match.calendarUrl" target="_blank"><i class="fa fa-calendar"></i></a></div>
                                                            </div>
                                                            <div class="d-flex w-100 teams mt-2 justify-content-center align-items-center">
                                                                <img class="mobile_flag w-45" *ngIf="match.homeLogo && match.homeLogo.length>0" [src]="match.homeLogo">
                                                                <div class="w-10 text-center">vs.</div>
                                                                <img class="mobile_flag w-45" *ngIf="match.awayLogo && match.awayLogo.length>0" [src]="match.awayLogo">
                                                            </div>
                                                            <div class="d-flex w-100 teams mb-3 justify-content-start align-items-center">
                                                                <div class="w-50 d-flex justify-content-end me-3">
                                                                    <span class="team">{{match.homeTeam}}</span>
                                                                </div>
                                                                <div class="w-50 d-flex justify-content-start ms-3">
                                                                    <span class="team">{{match.awayTeam}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex w-100 tvs" *ngIf="match.tv && match.tv.length>0">
                                                                <small><app-pill-list [items]="match.tv"></app-pill-list></small>
                                                            </div>
                                                        </div>
                                                        
                                                    </td>
                                                </tr>
                                            </ng-container>                                
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </ng-container>
                        <!-- End MOBILE -->
                        
                    </div>
                </ng-container>
                <ng-container *ngIf="scrappedDataNodeList && matchDaysFiltered.length===0">
                    <small>No matches found</small>
                </ng-container>
            </ng-container>
        
            <ng-container *ngIf="error">
                <div class="alert alert-danger w-100 br-0 m-0">Error: {{error | json}}</div>
            </ng-container>
            
            <ng-container *ngIf="!isProd">
                <div class="alert alert-warning w-100 br-0 m-0">Dev mode</div>
            </ng-container>
            
        </div>
    </div>
</div>
